In [1]:
# Import Dependencies
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
%matplotlib inline

In [2]:
# Make a reference to the modified_data.csv file path
csv_path = "../Data/modified_data.csv"

# Import the data.csv file as a DataFrame
df = pd.read_csv(csv_path)

df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,single,2nd phase - general contingent,5,Animation and Multimedia Design,daytime,Secondary education,122.0,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Other - 11th Year of Schooling,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,single,International student (bachelor),1,Tourism,daytime,Secondary education,160.0,Portuguese,Secondary Education - 12th Year of Schooling o...,Higher Education - Degree,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,single,1st phase - general contingent,5,Communication Design,daytime,Secondary education,122.0,Portuguese,Basic education 1st cycle (4th/5th year) or eq...,Basic education 1st cycle (4th/5th year) or eq...,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,single,2nd phase - general contingent,2,Journalism and Communication,daytime,Secondary education,122.0,Portuguese,Basic Education 2nd Cycle (6th/7th/8th Year) o...,Basic education 1st cycle (4th/5th year) or eq...,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,married,Over 23 years old,1,Social Service (evening attendance),evening,Secondary education,100.0,Portuguese,Basic education 1st cycle (4th/5th year) or eq...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [3]:
# Seperate out the holdout set
df = df.loc[df['Target'] =='Enrolled']
df

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
16,single,3rd phase - general contingent,1,Social Service,daytime,Secondary education,137.0,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,0,6,14,2,11.000000,0,10.8,1.4,1.74,Enrolled
19,single,1st phase - general contingent,1,Basic Education,daytime,Secondary education,140.0,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 3rd Cycle (9th/10th/11th Year)...,...,0,7,8,6,13.500000,0,16.2,0.3,-0.92,Enrolled
21,single,3rd phase - general contingent,4,Oral Hygiene,daytime,Secondary education,127.0,Portuguese,Secondary Education - 12th Year of Schooling o...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,0,8,9,8,11.425000,0,12.7,3.7,-1.70,Enrolled
25,single,1st phase - general contingent,1,Social Service,daytime,Secondary education,151.0,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,0,6,12,4,11.000000,0,7.6,2.6,0.32,Enrolled
27,single,1st phase - general contingent,1,Veterinary Nursing,daytime,Secondary education,138.0,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 3rd Cycle (9th/10th/11th Year)...,...,0,5,7,4,13.000000,0,9.4,-0.8,-3.12,Enrolled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4397,single,1st phase - special contingent (Azores Island),4,Basic Education,daytime,Secondary education,116.0,Portuguese,Higher Education - Degree,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,0,6,9,3,11.666667,0,9.4,-0.8,-3.12,Enrolled
4402,single,3rd phase - general contingent,2,Basic Education,daytime,Secondary education,168.0,Portuguese,Secondary Education - 12th Year of Schooling o...,Basic Education 3rd Cycle (9th/10th/11th Year)...,...,0,6,6,6,13.000000,0,10.8,1.4,1.74,Enrolled
4406,single,1st phase - general contingent,1,Communication Design,daytime,Secondary education,145.0,Portuguese,Secondary Education - 12th Year of Schooling o...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,0,6,8,2,11.333333,0,10.8,1.4,1.74,Enrolled
4412,single,Change of course,1,Communication Design,daytime,Secondary education,125.0,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 3rd Cycle (9th/10th/11th Year)...,...,2,6,7,5,12.200000,0,13.9,-0.3,0.79,Enrolled
4413,single,Change of course,1,Biofuel Production Technologies,daytime,Secondary education,143.0,Portuguese,Basic education 1st cycle (4th/5th year) or eq...,Secondary Education - 12th Year of Schooling o...,...,2,8,10,2,13.000000,0,12.4,0.5,1.79,Enrolled

In [4]:
scaled_df = df.copy()

In [5]:
scaled_df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
16,single,3rd phase - general contingent,1,Social Service,daytime,Secondary education,137.0,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,0,6,14,2,11.000,0,10.8,1.4,1.74,Enrolled
19,single,1st phase - general contingent,1,Basic Education,daytime,Secondary education,140.0,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 3rd Cycle (9th/10th/11th Year)...,...,0,7,8,6,13.500,0,16.2,0.3,-0.92,Enrolled
21,single,3rd phase - general contingent,4,Oral Hygiene,daytime,Secondary education,127.0,Portuguese,Secondary Education - 12th Year of Schooling o...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,0,8,9,8,11.425,0,12.7,3.7,-1.70,Enrolled
25,single,1st phase - general contingent,1,Social Service,daytime,Secondary education,151.0,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,0,6,12,4,11.000,0,7.6,2.6,0.32,Enrolled
27,single,1st phase - general contingent,1,Veterinary Nursing,daytime,Secondary education,138.0,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 3rd Cycle (9th/10th/11th Year)...,...,0,5,7,4,13.000,0,9.4,-0.8,-3.12,Enrolled

In [6]:
# List of column names that need to be converted
float_columns = ['Previous qualification (grade)','Admission grade',
                 'Curricular units 1st sem (grade)',
                 'Curricular units 2nd sem (grade)',
                 'Unemployment rate',
                 'Inflation rate',
                 'GDP']

# Convert selected columns from float64 to int64
df[float_columns] = df[float_columns].astype('int64')

In [7]:
# List of column names that need to be converted
float_columns = ['Previous qualification (grade)','Admission grade',
                 'Curricular units 1st sem (grade)',
                 'Curricular units 2nd sem (grade)',
                 'Unemployment rate',
                 'Inflation rate',
                 'GDP']

# Convert selected columns from float64 to int64
scaled_df[float_columns] = scaled_df[float_columns].astype('int64')

In [8]:
scaled_df.dtypes

Marital status                                    object
Application mode                                  object
Application order                                  int64
Course                                            object
Daytime/evening attendance\t                      object
Previous qualification                            object
Previous qualification (grade)                     int64
Nacionality                                       object
Mother's qualification                            object
Father's qualification                            object
Mother's occupation                               object
Father's occupation                               object
Admission grade                                    int64
Displaced                                         object
Educational special needs                         object
Debtor                                            object
Tuition fees up to date                           object
Gender                                            object
Scholarship holder                                object
Age at enrollment                                  int64
International                                     object
Curricular units 1st sem (credited)                int64
Curricular units 1st sem (enrolled)                int64
Curricular units 1st sem (evaluations)             int64
Curricular units 1st sem (approved)                int64
Curricular units 1st sem (grade)                   int64
Curricular units 1st sem (without evaluations)     int64
Curricular units 2nd sem (credited)                int64
Curricular units 2nd sem (enrolled)                int64
Curricular units 2nd sem (evaluations)             int64
Curricular units 2nd sem (approved)                int64
Curricular units 2nd sem (grade)                   int64
Curricular units 2nd sem (without evaluations)     int64
Unemployment rate                                  int64
Inflation rate                                     int64
GDP                                                int64
Target                                            object
dtype: object

In [9]:
# Separate numerical and categorical columns
categorical_columns = [
    'Marital status', 'Application mode', 'Course', 'Daytime/evening attendance\t',
    'Previous qualification', 'Nacionality', 'Mother\'s qualification', 'Father\'s qualification',
    'Mother\'s occupation', 'Father\'s occupation', 'Displaced', 'Educational special needs',
    'Debtor', 'Tuition fees up to date', 'Gender', 'Scholarship holder', 'International', 'Target'
]

# Encode categorical columns using LabelEncoder or OneHotEncoder
label_encoder = LabelEncoder()
for col in categorical_columns:
    scaled_df[col] = label_encoder.fit_transform(scaled_df[col])

# # Scale numerical columns using StandardScaler
# scaler = StandardScaler()
# scaled_df[numerical_columns] = scaler.fit_transform(scaled_df[numerical_columns])

In [10]:
scaled_df.head(20)

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
16,4,4,1,13,0,9,137,6,1,1,...,0,6,14,2,11,0,10,1,1,0
19,4,0,1,3,0,9,140,6,1,2,...,0,7,8,6,13,0,16,0,0,0
21,4,4,4,12,0,9,127,6,10,1,...,0,8,9,8,11,0,12,3,-1,0
25,4,0,1,13,0,9,151,6,1,1,...,0,6,12,4,11,0,7,2,0,0
27,4,0,1,16,0,9,138,6,1,2,...,0,5,7,4,13,0,9,0,-3,0
29,4,3,2,11,0,9,127,6,4,5,...,0,7,7,6,13,0,16,0,0,0
30,4,11,1,1,0,10,150,6,7,6,...,0,6,17,5,10,0,16,0,0,0
32,4,0,1,9,0,9,143,6,10,9,...,0,5,8,2,13,0,8,1,3,0
45,4,3,1,10,1,9,154,6,0,1,...,0,5,11,3,14,1,7,2,0,0
51,4,0,1,11,0,9,139,6,2,1,...,0,8,10,6,11,0,9,0,-3,0
52,4,0,1,8,0,9,127,6,10,2,...,0,6,12,3,11,0,9,0,-3,0
59,4,0,3,2,0,9,125,6,0,3,...,0,0,0,0,0,0,7,2,0,0
62,4,3,3,2,0,9,133,6,10,3,...,0,0,0,0,0,0,10,1,1,0
63,4,3,1,5,0,9,127,6,10,9,...,0,6,8,1,10,0,10,1,1,0
64,4,5,1,5,0,9,116,6,10,9,...,0,6,6,0,0,0,12,3,-1,0
69,4,9,1,15,0,9,160,6,1,3,...,0,6,8,5,10,0,12,3,-1,0
70,4,3,1,9,0,9,148,6,0,3,...,0,5,5,0,0,0,7,2,0,0
83,4,3,1,15,0,9,120,6,1,2,...,0,5,8,3,11,0,12,3,-1,0
88,4,0,6,9,0,9,143,6,0,3,...,0,5,5,5,13,0,11,0,2,0
89,4,5,2,7,0,9,115,6,0,2,...,0,5,9,0,0,0,15,2,-4,0

In [11]:
# Define features set
X = scaled_df.copy()
X.drop("Target", axis=1, inplace=True)
X.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
16,4,4,1,13,0,9,137,6,1,1,...,0,0,6,14,2,11,0,10,1,1
19,4,0,1,3,0,9,140,6,1,2,...,0,0,7,8,6,13,0,16,0,0
21,4,4,4,12,0,9,127,6,10,1,...,0,0,8,9,8,11,0,12,3,-1
25,4,0,1,13,0,9,151,6,1,1,...,0,0,6,12,4,11,0,7,2,0
27,4,0,1,16,0,9,138,6,1,2,...,2,0,5,7,4,13,0,9,0,-3

In [12]:
# Define target vector
y = scaled_df["Target"].ravel()
y[:5]

array([0, 0, 0, 0, 0])

## Making Predictions Using the Random Forest Model

In [13]:
# Load the  ML model
from joblib import dump, load
rf_model = load('RF_Model.joblib')

In [15]:
# Making predictions using the testing data
predictions = rf_model.predict(X)
predictions

C:\Users\ngao\Anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1])

In [17]:
# Save a copy of the pre-predict dataframe
prediction_df = df.copy()
prediction_df

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
16,single,3rd phase - general contingent,1,Social Service,daytime,Secondary education,137,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,0,6,14,2,11,0,10,1,1,Enrolled
19,single,1st phase - general contingent,1,Basic Education,daytime,Secondary education,140,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 3rd Cycle (9th/10th/11th Year)...,...,0,7,8,6,13,0,16,0,0,Enrolled
21,single,3rd phase - general contingent,4,Oral Hygiene,daytime,Secondary education,127,Portuguese,Secondary Education - 12th Year of Schooling o...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,0,8,9,8,11,0,12,3,-1,Enrolled
25,single,1st phase - general contingent,1,Social Service,daytime,Secondary education,151,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,0,6,12,4,11,0,7,2,0,Enrolled
27,single,1st phase - general contingent,1,Veterinary Nursing,daytime,Secondary education,138,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 3rd Cycle (9th/10th/11th Year)...,...,0,5,7,4,13,0,9,0,-3,Enrolled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4397,single,1st phase - special contingent (Azores Island),4,Basic Education,daytime,Secondary education,116,Portuguese,Higher Education - Degree,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,0,6,9,3,11,0,9,0,-3,Enrolled
4402,single,3rd phase - general contingent,2,Basic Education,daytime,Secondary education,168,Portuguese,Secondary Education - 12th Year of Schooling o...,Basic Education 3rd Cycle (9th/10th/11th Year)...,...,0,6,6,6,13,0,10,1,1,Enrolled
4406,single,1st phase - general contingent,1,Communication Design,daytime,Secondary education,145,Portuguese,Secondary Education - 12th Year of Schooling o...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,0,6,8,2,11,0,10,1,1,Enrolled
4412,single,Change of course,1,Communication Design,daytime,Secondary education,125,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 3rd Cycle (9th/10th/11th Year)...,...,2,6,7,5,12,0,13,0,0,Enrolled
4413,single,Change of course,1,Biofuel Production Technologies,daytime,Secondary education,143,Portuguese,Basic education 1st cycle (4th/5th year) or eq...,Secondary Education - 12th Year of Schooling o...,...,2,8,10,2,13,0,12,0,1,Enrolled

In [18]:
# Check the length of prediction array
len(predictions)

794

In [19]:
# Add a prediction column
prediction_df['Prediction'] = predictions
prediction_df

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target,Prediction
16,single,3rd phase - general contingent,1,Social Service,daytime,Secondary education,137,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,6,14,2,11,0,10,1,1,Enrolled,1
19,single,1st phase - general contingent,1,Basic Education,daytime,Secondary education,140,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 3rd Cycle (9th/10th/11th Year)...,...,7,8,6,13,0,16,0,0,Enrolled,1
21,single,3rd phase - general contingent,4,Oral Hygiene,daytime,Secondary education,127,Portuguese,Secondary Education - 12th Year of Schooling o...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,8,9,8,11,0,12,3,-1,Enrolled,1
25,single,1st phase - general contingent,1,Social Service,daytime,Secondary education,151,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,6,12,4,11,0,7,2,0,Enrolled,1
27,single,1st phase - general contingent,1,Veterinary Nursing,daytime,Secondary education,138,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 3rd Cycle (9th/10th/11th Year)...,...,5,7,4,13,0,9,0,-3,Enrolled,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4397,single,1st phase - special contingent (Azores Island),4,Basic Education,daytime,Secondary education,116,Portuguese,Higher Education - Degree,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,6,9,3,11,0,9,0,-3,Enrolled,1
4402,single,3rd phase - general contingent,2,Basic Education,daytime,Secondary education,168,Portuguese,Secondary Education - 12th Year of Schooling o...,Basic Education 3rd Cycle (9th/10th/11th Year)...,...,6,6,6,13,0,10,1,1,Enrolled,1
4406,single,1st phase - general contingent,1,Communication Design,daytime,Secondary education,145,Portuguese,Secondary Education - 12th Year of Schooling o...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,6,8,2,11,0,10,1,1,Enrolled,1
4412,single,Change of course,1,Communication Design,daytime,Secondary education,125,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 3rd Cycle (9th/10th/11th Year)...,...,6,7,5,12,0,13,0,0,Enrolled,1
4413,single,Change of course,1,Biofuel Production Technologies,daytime,Secondary education,143,Portuguese,Basic education 1st cycle (4th/5th year) or eq...,Secondary Education - 12th Year of Schooling o...,...,8,10,2,13,0,12,0,1,Enrolled,1

In [45]:
# Replace the value in the Prediction column
prediction_df['Prediction'].mask(prediction_df['Prediction']== 1,'Graduate',inplace=True)
prediction_df['Prediction'].mask(prediction_df['Prediction']== 0,'Dropout',inplace=True)
prediction_df

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target,Prediction
16,single,3rd phase - general contingent,1,Social Service,daytime,Secondary education,137,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,6,14,2,11,0,10,1,1,Enrolled,Graduate
19,single,1st phase - general contingent,1,Basic Education,daytime,Secondary education,140,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 3rd Cycle (9th/10th/11th Year)...,...,7,8,6,13,0,16,0,0,Enrolled,Graduate
21,single,3rd phase - general contingent,4,Oral Hygiene,daytime,Secondary education,127,Portuguese,Secondary Education - 12th Year of Schooling o...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,8,9,8,11,0,12,3,-1,Enrolled,Graduate
25,single,1st phase - general contingent,1,Social Service,daytime,Secondary education,151,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,6,12,4,11,0,7,2,0,Enrolled,Graduate
27,single,1st phase - general contingent,1,Veterinary Nursing,daytime,Secondary education,138,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 3rd Cycle (9th/10th/11th Year)...,...,5,7,4,13,0,9,0,-3,Enrolled,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4397,single,1st phase - special contingent (Azores Island),4,Basic Education,daytime,Secondary education,116,Portuguese,Higher Education - Degree,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,6,9,3,11,0,9,0,-3,Enrolled,Graduate
4402,single,3rd phase - general contingent,2,Basic Education,daytime,Secondary education,168,Portuguese,Secondary Education - 12th Year of Schooling o...,Basic Education 3rd Cycle (9th/10th/11th Year)...,...,6,6,6,13,0,10,1,1,Enrolled,Graduate
4406,single,1st phase - general contingent,1,Communication Design,daytime,Secondary education,145,Portuguese,Secondary Education - 12th Year of Schooling o...,Basic Education 2nd Cycle (6th/7th/8th Year) o...,...,6,8,2,11,0,10,1,1,Enrolled,Graduate
4412,single,Change of course,1,Communication Design,daytime,Secondary education,125,Portuguese,Basic Education 3rd Cycle (9th/10th/11th Year)...,Basic Education 3rd Cycle (9th/10th/11th Year)...,...,6,7,5,12,0,13,0,0,Enrolled,Graduate
4413,single,Change of course,1,Biofuel Production Technologies,daytime,Secondary education,143,Portuguese,Basic education 1st cycle (4th/5th year) or eq...,Secondary Education - 12th Year of Schooling o...,...,8,10,2,13,0,12,0,1,Enrolled,Graduate

In [46]:
#Export to CSV
prediction_df.to_csv('../Data/prediction_results.csv')

In [ ]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [ ]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

In [ ]:
# Random Forests in sklearn will automatically calculate feature importance
importances = rf_model.feature_importances_
# We can sort the features by their importance
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

In [ ]:
import matplotlib.pyplot as plt

# Visualize the features by importance
importances_df = pd.DataFrame(sorted(zip(rf_model.feature_importances_, X.columns), reverse=True))
importances_df.set_index(importances_df[1], inplace=True)
importances_df.drop(columns=1, inplace=True)
importances_df.rename(columns={0: 'Feature Importances'}, inplace=True)
importances_sorted = importances_df.sort_values(by='Feature Importances')
ax = importances_sorted.plot(kind='barh', color='lightgreen', title= 'Features Importances', legend=False, figsize=(10,15),)
for label in ax.get_yticklabels():
    label.set_size(14)


plt.savefig('file_path')